---
interface Props {
  title: string;
  price: string;
  properties?: string[];
  image?: string;
  alt? : string;
  ordertext: string;
  orderimg: string;
  description: string;
  description2?: string;
}

const { title,properties,price,image,alt ="no_img",description,description2,ordertext,orderimg} = Astro.props;
---

<div class ="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 items-center text-white max-w-4xl mx-auto px-4 mt-10">
    <div class=`h-full text-center space-y-2 ${ordertext}`>
        <h2 class="text-3xl font-semibold py-2">{title}</h2>
        {properties && (
            <ul>
                {properties.map(properties => <li>{properties}</li>)}
            </ul>
        )}
        <p class="text-2xl font-semibold">{price}</p>
    </div>
    <div class=`mx-auto ${orderimg}`>
        <img src={image} alt={alt} class="w-full max-w-[250px]"/>
    </div>
</div>
<div class="items-center text-white max-w-3xl mx-auto px-4 mt-6 text-lg text-center border-b border-white pb-6">
    <p>{description}</p>
    <p>{description2}</p>
</div>